@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Container{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}